<suite name="API Test" parallel="tests" thread-count="1">
    <test name="Execution Three methods in parallel" parallel="methods" thread-count="3">
        <classes>
            <class name="test.GetProduct"/>
            <class name="test.DeleteProduct"/>
            <class name="test.PostProduct"/>
        </classes>
    </test>
    <test name="Execution successfully case">
        <classes>
            <class name="test.GetProduct"/>
            <class name="test.DeleteProduct"/>
            <class name="test.PostProduct"/>
            <class name="test.PutProduct"><methods><include name="testPutProductSuccess"/></methods></class>
        </classes>
    </test>
    <test name="Execution wrong case">
        <classes>
            <class name="test.PutProduct"><methods><include name="testPutProductWrong"/></methods></class>
        </classes>
    </test>
</suite>