<suite name="API Suite" parallel="methods" thread-count="3">
    <test name="Kata Automatizacion">
        <classes>
            <class name="test.GetProduct"/>
            <class name="test.DeleteProduct"/>
            <class name="test.PostProduct"/>
            <class name="test.PutProduct"/>
        </classes>
    </test>
</suite>